
@{
    Layout = null;
}

<!DOCTYPE html>
<div>

     <label>账户</label><input type="text" name="name" value=""  id="txtUserName"/>
     <label>密码</label><input type="password" name="name" value="" id="txtPwd" />
     <input type="submit" name="name" value="登录"  id="loginButton"/>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    //入口
    $(function () {

        $("#loginButton").click(function () {
            var userName = $("#txtUserName").val();
            var pwd = $("#txtPwd").val();

            $.post("/home/LoginForm",
                {
                    userName: userName,
                    pwd: pwd
                }, function (data) {
                });
        });
    })
</script>


