
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Scripts/Plugins/Skeleton-2.0.4/css/normalize.css" rel="stylesheet" />
    <link href="~/Scripts/Plugins/Skeleton-2.0.4/css/skeleton.css" rel="stylesheet" />
</head>
<body>

        <form>
        <div class="row">
        <div class="six columns">
        <label for="PublichName">姓名:</label> <input class="u-max-full-width" type="text" placeholder="" id="PublichName" />
        </div>
        <div class="six columns">
                <label for="PublichName">姓名:</label> <input class="u-max-full-width" type="text" placeholder="" id="PublichName" />
        </div>
        </div>
    </form>



</body>
</html>
