
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9" id="MvhInfoListBody">

</div><!--/row-->


@section Scripts{
    <script type="text/javascript">
        $(function () {
            GetMvhInfoList(1);
        });
        //获取积分明细信息
        function GetMvhInfoList(pageIndex) {
            $.ajax({
                url: '/MvhInfo/GetMvhInfoList?pageIndex=' + pageIndex + "&pageSize=12&startTime=",
                type: 'GET',
                success: function (data) {
                    $("#MvhInfoListBody").html("");
                    $("#MvhInfoListBody").html(data);

                    //竞标
                    $(".Bidbtn").click(function () {
                        var msgID = $($(this).parent().parent().children()[0]).val();

                        $.post("/Bid/AddBidInfo", { msgID: msgID }, function (data) {

                            var resultInt = parseInt(data);

                            if (resultInt > 0) {
                                alert("竞标成功！");
                            }
                            else if (resultInt==-1) {
                                alert("已竞标成功！");
                            }
                            else {
                                alert("竞标失败！");
                            }
                        });
                    });

                    //查看详情
                    $(".selectDetailBtn").click(function () {

                        var msgID = $($(this).parent().parent().children()[0]).val();

                        location.href = "/MvhInfo/GetMvhInfoDetail?msgID="+msgID;

                    });
                }
            });
        }
 </script>}
